@import 'variables';

.about-us {
  color: $text;
  text-decoration: none;

  &__team {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.5em 1.5em;
    background-color: $secondary;
    border-radius: 40px;
  }

  &__members {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @media (max-width: 800px) {
        grid-template-columns: 1fr;
    }
  }

  &__heading {
    display: flex;
    color: $text;
    align-items: center;
    flex-direction: column;

    &::after {
      content: '';
      display: block;
      width: 40%;
      height: 1px;
      background-color: $primary;
      transition: width 0.3s;
    }
  }

  @media (any-hover: hover) {
    &__member {
      width: 100%;
      position: relative;
      min-height: 300px;
      perspective: 2000px;

      &:hover {
        .about-us__front {
          transform: rotateY(180deg);
        }

        .about-us__back {
          transform: rotateY(360deg);
        }
      }
    }

    &__back,
    &__front {
      text-align: center;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      color: inherit;
      background-color: white;
      text-decoration: none;
      min-height: 300px;
      padding: 0.5em 1em;
      border-radius: 40px;
      gap: 10px;
      transition: 0.3s ease-in-out;
      cursor: pointer;
      transition: 0.6s;
      backface-visibility: hidden;
    }

    &__back {
      color: white;
      transform: rotateY(180deg);
      background-color: $primary;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .about-us__name {
        color: white;
        font-size: 1.9em;

        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background-color: $secondary;
            transition: width 0.3s;
          }
      }

      .about-us__li {
        color: $border-color;
      }

      .about-us__bio {
        text-align: start;
      }
    }

    &__front {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }
  }

  @media (any-hover: none) {

    &__member {
        text-align: center;
        color: inherit;
        background-color: white;
        text-decoration: none;
        text-decoration: none;
        padding: 0.5em 1em;
        border-radius: 40px;
        gap: 10px;
    }

    &__front,
    &__back {
        color: inherit;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    &__back {
        .about-us__bio {
            display: none;
        }

        .about-us__name {
            display: none;
        }
    }
  }

  &__round_photo {
    width: 200px;
    height: 200px;
    display: flex;
    place-content: center;
    overflow: hidden;
    border-radius: 100%;
  }

  &__photo {
    height: auto;
    width: max-content;
  }

  &__name {
    transition: 0.3s;
    color: $primary;
    font-size: 1.5em;
  }

  &__role {
    margin: 0;
    text-align: start;
  }

  &__li {
    color: $light-text;
    font-size: 1.2em;
  }

  &__github {
    display: block;
    width: 100px;
    height: 40px;
    background-image: url('/svg/github.svg');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center;
    transition: 0.6s;

    &:hover {
        background-color: $secondary;
        border-radius: 20px;
    }
  }
}
