.filter-side-bar {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f8f9fa; // Light background for the sidebar
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Subtle shadow for depth
  
  li {
    list-style: none;
  }

  &__apply-button, &__reset-button {
    width: 100%;
    padding: 10px 15px;
    cursor: pointer;
    border: 2px solid $primary;
    background: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    color: $primary;
    transition: 0.3s;
    border-radius: 5px;
    
    &:not(:disabled):hover {
      background-color: $primary;
      color: #fff;
    }

    &:disabled {
      opacity: 0.5;
      cursor: default;
    }
  }


  .price-range-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
    .range-wrapper {
      position: relative;
      width: 100%;
      margin-top: 40px;
    }
  
    input[type="range"] {
      -webkit-appearance: none;
      width: 100%;
      height: 5px;
      background: linear-gradient(to right, #ddd 0%, #ddd 100%);
      outline: none;
      transition: background 0.2s;
  
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: $primary;
        cursor: pointer;
        position: relative;
        z-index: 2;
      }
  
      &::-moz-range-thumb {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #007bff;
        cursor: pointer;
        position: relative;
        z-index: 2;
      }
    }
  
    .tooltip {
      position: absolute;
      top: -30px;
      background: #333;
      color: #fff;
      padding: 5px 10px;
      border-radius: 5px;
      font-size: 14px;
      white-space: nowrap;
      pointer-events: none;
      &::after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
        border-width: 5px;
        border-style: solid;
        border-color: #333 transparent transparent transparent;
      }
    }
  
    .tooltip-min {
      left: 0;
    }
  
    .tooltip-max {
      right: 0;
    }
  }

  .attributes-container, .category-container {

    .filter__option, .option-list {
    }

    .filter__option__header, .category-header {
      font-size: 18px;
      font-weight: 600;
      color: #333;
    }

    .filter__option__list, .option-list {
      padding: 0;
    }

    .filter__option__item, .option-list__item {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      transition: 0.1s ease-in-out;
      &:hover {
        transition: 0.1s ease-in-out;
        transform: scale(101%);
        cursor: pointer;
        color: $primary;
      }

      input[type="checkbox"] {
        margin-right: 10px;
        width: 20px;
        height: 20px;
        cursor: pointer;
      }


      label {
        font-size: 16px;
        cursor: pointer;
        transition: 0.1s ease-in-out;
        &:hover {
          transition: 0.1s ease-in-out;
          cursor: pointer;
          color: $primary;
        }
      }
    }
  }

}
@media  (max-width: 1150px) {
  h2, h3{
    font-size: 0.7rem!important;
  }
  label {
    font-size: 0.5rem!important;
  }
  .option-list__checkbox{
    width: 10px!important;
    height: 10px!important;
    cursor: pointer;
  }
}