@import './variables.scss';

.header {
  position: sticky;
  z-index: 999;
  background-color: #fff;
  border-bottom: 2px solid $primary;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  height: 70px;
  width: 99% !important;

  &__navigation {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;

    &_link {
      text-decoration: none;
      color: $text;
      &:after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background-color: $primary;
        transition: width 0.3s;
      }
      &:hover {
        color: $primary;
        &:after {
          width: 100%;
        }
      }
    }

    &.loginned {
      > *:not(:last-child) {
        display: block;
      }
      > *:last-child {
        display: none;
      }
    }
  }

  &__button {
    padding: 5px 15px;
    cursor: pointer;
    border: 2px solid $primary;
    background: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    color: $primary;
    transition: 0.3s;
    border-radius: 5px;

    &:hover {
      background-color: $primary;
      color: #fff;
    }
  }

  &__buttons {
    display: flex;
    gap: 5px;
    &:not(.loginned) {
      > *:last-child {
        display: none;
      }
      > *:not(:last-child) {
        display: block;
      }
    }

    &.loginned {
      > *:not(:last-child) {
        display: none;
      }
      > *:last-child {
        display: block;
      }
    }
  }
}
