@import './variables.scss';

.header {
  position: sticky;
  z-index: 999;
  top: 0;
  left: 0;
  display: grid;
  background-color: #ffffff00;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: 90px;
  width: 100% !important;
  transition: 0.3s;
  align-items: center;

  @media screen and (max-width: 430px) {
    grid-template-columns: 0.5fr 5fr;

    .header__buttons {
      grid-column: 1/3;
      justify-content: space-between;
    }
  }

  &:hover {
    background: white;
  }

  &__navigation {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-around;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;

    @media screen and (max-width: 600px) {
      font-size: 14px;
    }

    &_link {
      text-decoration: none;
      color: $text;
      &:after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background-color: $primary;
        transition: width 0.3s;
      }
      &:hover {
        color: $primary;
        &:after {
          width: 100%;
        }
      }
    }

    &.loginned {
      > *:not(:last-child) {
        display: block;
      }
      > *:last-child {
        display: none;
      }
    }
  }

  &__button {
    display: flex;
    gap: 5px;
    cursor: pointer;
    border: none;
    background: #ffffff00;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    color: $primary;
    transition: 0.3s;
    border-radius: 5px;
    &_cart {
      position: relative;
      display: inline-block;
      &_quantity {
        width: 20px;
        height: 20px;
        top: -9px;
        right: 5px;
        position: absolute;
        border: 1px solid #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        background-color: $primary;
        color: #fff;
        z-index: 1;
        &-hidden {
          display: none;
        }
      }
    }


    .img_registration,
    .img_login,
    .img_logout,
    .img_profile,
    .img_about {
      width: 25px;
      height: 25px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    .img_profile {
      background-image: url('/svg/snowboarder.svg');
      background-size: 50px 50px;
    }

    .img_about {
      width: 50px;
      height: 30px;
      background-size: 50px 30px;
      background-image: url('/svg/about_us.svg');
    }

    .img_logout {
      background-image: url('/svg/logout.svg');
    }

    .img_login {
      background-image: url('/svg/login.svg');
    }

    .img_registration {
      background-image: url('/svg/sign-up.svg');
    }

    &:hover {
      transform: translateY(-3px);
    }

    &[title]:hover:after {
      content: attr(title);
      position: absolute;
      display: flex;
      top: 35px;
      left: -30px;
      background-color: $secondary;
      border: 1px solid $primary;
      color: $primary;
      padding: 2px;
      border-radius: 5px;
      z-index: 1;
    }

    &_registration[title]:hover:after {
      content: attr(title);
      left: -40px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: end;
    gap: 5px;
    align-items: center;
    &:not(.loginned) {
      > *:not(:last-child),
      > *:not(:nth-child(5)) {
        display: block;
      }
      > *:last-child,
      > *:nth-child(5) {
        display: none;
      }
    }

    &.loginned {
      > *:not(:last-child),
      > *:not(:nth-child(5)) {
        display: none;
      }
      > *:last-child,
      > *:nth-child(5) {
        display: flex;
      }
      > *:nth-child(1),
      > *:nth-child(2) {
        display: flex;
      }
    }
  }
}

.header__home {
  .header__button {
    .img_profile {
      background-image: url('/svg/snowboarder-hover.svg');
      background-size: 50px 50px;
    }

    .img_about {
      width: 50px;
      height: 30px;
      background-size: 50px 30px;
      background-image: url('/svg/about_us.svg');
    }

    .img_about {
      width: 50px;
      height: 30px;
      background-size: 50px 30px;
      background-image: url('/svg/about_us-white.svg');
    }

    .img_logout {
      background-image: url('/svg/logout-white.svg');
    }

    .img_login {
      background-image: url('/svg/login-white.svg');
    }

    .img_registration {
      background-image: url('/svg/sign-up-white.svg');
    }
  }
  &:hover {
    .header__button {
      .img_profile {
        background-image: url('/svg/snowboarder.svg');
        background-size: 50px 50px;
      }

      .img_about {
        width: 50px;
        height: 30px;
        background-size: 50px 30px;
        background-image: url('/svg/about_us.svg');
      }

      .img_logout {
        background-image: url('/svg/logout.svg');
      }

      .img_login {
        background-image: url('/svg/login.svg');
      }

      .img_registration {
        background-image: url('/svg/sign-up.svg');
      }
    }

    .header__navigation_link {
      color: $text;
    }
  }

  .header__navigation {
    &_link {
      color: white;
    }

    &.loginned {
      > *:not(:last-child) {
        display: block;
      }
      > *:last-child {
        display: none;
      }
    }
  }
}

.header__scroll {
  background-color: #ffffffcb;
  transition: 0.3s;

  .header__button {
    .img_profile {
      background-image: url('/svg/snowboarder.svg');
      background-size: 50px 50px;
    }

    .img_about {
      width: 50px;
      height: 30px;
      background-size: 50px 30px;
      background-image: url('/svg/about_us.svg');
    }

    .img_logout {
      background-image: url('/svg/logout.svg');
    }

    .img_login {
      background-image: url('/svg/login.svg');
    }

    .img_registration {
      background-image: url('/svg/sign-up.svg');
    }
  }

  .header__navigation_link {
    color: $text;
  }
}

.img_cart {
  width: 25px;
  height: 25px;
  fill: $primary;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    transform: translateY(-3px);
  }

  @media (max-width: 480px) {
    width: 15px;
    height: 15px;
  }
}
