.section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home__top {
  width: 100%;
  padding-top: 100vh;

  &__container {
    position: absolute;
    top: 0;
    width: 100% !important;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('/public/images/homepage/hero.jpg');
    background-size: cover;
    background-position: center;
    z-index: 3;
    height: 100vh;
    overflow-x: hidden;
  }

  &__title {
    font-size: 2.5em;
    font-weight: bold;
    color: $secondary;
    margin-bottom: 30px;
    z-index: 3;
    backdrop-filter: blur(1px);
    -webkit-text-stroke: black 0.3px;
  }

  &__text {
    font-size: 2rem;
    margin-bottom: 20px;
    color: $secondary;
    backdrop-filter: blur(1px);
    -webkit-text-stroke: $primary 1px;
    z-index: 3;
  }

  &__button {
    padding: 10px 20px;
    background-color: #ff3b3f;
    color: #fff;
    font-weight: bold;
    border: 2px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease-in-out;

    &:hover {
      transition: 0.5s ease-in-out;
      transform: scale(1.1);
      color: #fff;
      background-color: #ff3b3f;
    }
  }
}

.home__brands {
  flex-direction: column;
  &__title {
    font-size: 2rem;
  }
  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    @media screen and (max-width: 1200px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 600px) {
      grid-template-columns: 1fr;
    }
    &__item {
      width: 280px;
      height: 360px;
      border-radius: 15px;
      padding: 1.5rem;
      background: white;
      position: relative;
      display: flex;
      align-items: flex-end;
      transition: 0.4s ease-out;
      box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
      z-index: 1;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 15px;
        background: rgba(0, 0, 0, 0.3);
        z-index: 1;
        transition: opacity 0.5s;
        opacity: 0;
        @media screen and (max-width: 600px) {
          opacity: 1;
        }
      }

      &__info {
        position: absolute;
        flex-wrap: wrap;
        z-index: 3;
        color: white;
        transform: translateY(30px);
        transition:
          opacity 0.5s ease-in-out,
          transform 0.5s ease-in-out;
        opacity: 0;
        @media screen and (max-width: 600px) {
          opacity: 1;
          transform: translateY(-30px);
          padding: 5px;
        }
      }
      &__button {
        padding: 0.6rem;
        outline: none;
        border: none;
        border-radius: 3px;
        background: white;
        color: black;
        font-weight: bold;
        cursor: pointer;
        transition: 0.4s ease;
        &:hover {
          background: $primary;
          transform: scale(1.1);
          color: white;
        }
      }
      &__text {
        letter-spacing: 1px;
        font-size: 15px;
        margin-top: 8px;
        backdrop-filter: blur(1px);
        -webkit-text-stroke: black 0.1px;
      }
      &:hover {
        transform: scale(1.1);
        &:before {
          display: block;
          opacity: 1;
        }
      }
      &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 15px;
      }
    }
  }
}

.home__terrain {
  flex-direction: column;
  justify-content: center;
  &__title {
    text-align: center;
  }
  &__categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 40px;
    @media screen and (max-width: 1200px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }
  &__category {
    width: 280px;
    height: 360px;
    border-radius: 15px;
    padding: 1.5rem;
    background: white;
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: 0.4s ease-out;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 15px;
      background: rgba(0, 0, 0, 0.6);
      z-index: 2;
      transition: 0.5s;
      opacity: 0;
      @media screen and (max-width: 600px) {
        opacity: 1;
      }
    }
    &__info {
      position: absolute;
      flex-wrap: wrap;
      z-index: 3;
      color: white;
      transform: translateY(30px);
      transition:
        opacity 0.5s ease-in-out,
        transform 0.5s ease-in-out;
      opacity: 0;
      @media screen and (max-width: 600px) {
        opacity: 1;
        transform: translateY(-30px);
        padding: 5px;
      }
    }
    &__title {
      margin: 0px;
    }
    &__text {
      letter-spacing: 1px;
      font-size: 15px;
      margin-top: 8px;
    }
    &__button {
      padding: 0.6rem;
      outline: none;
      border: none;
      border-radius: 3px;
      background: white;
      color: black;
      font-weight: bold;
      cursor: pointer;
      transition: 0.4s ease;
      &:hover {
        background: $primary;
        transform: scale(1.1);
        color: white;
      }
    }
    &:hover {
      transform: translateY(20px);
      &:before {
        display: block;
        opacity: 1;
      }
    }

    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 15px;
    }
  }
}
.home__mid {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
  text-align: center;
  margin-bottom: 40px;
  @media screen and (max-width: 1000px) {
    flex-direction: column;
  }
  &__special-offers {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &__title {
      display: block;
      text-align: center;
      font-size: 1.5em;
      font-weight: bold;
      margin-bottom: 60px;
    }
    &__list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 50px;
      @media screen and (max-width: 1000px) {
        flex-direction: row;
      }

      @media screen and (max-width: 500px) {
        flex-direction: column;
        align-items: center;
      }
    }
    &__item {
      display: flex;
      flex-direction: column;
      height: 334px;
      width: 200px;
      margin-bottom: 20px;
      padding: 20px;
      background-color: #fff;
      border-radius: 10px;
      text-align: center;
      justify-content: center;
      align-items: center;
      background-size: cover;
      transition: 0.5s ease-in-out;
      box-shadow: $teeth;

      &:hover {
        transform: scale(1.03);
      }

      &__title {
        font-size: 1.7em;
        color: #fff;
        -webkit-text-stroke: 0.5px $primary;
        height: 80px;
        margin-bottom: 50px;
        backdrop-filter: blur(1px);
      }

      &__discount {
        display: block;
        margin-bottom: 30px;
        color: #ff3b3f;
        font-weight: bold;
        font-size: 1.7em;
        -webkit-text-stroke: #ddd 1.5px;
      }

      &__button {
        padding: 10px 20px;
        background-color: #ffdbdb;
        color: #ff3b3f;
        font-weight: bold;
        border: 2px solid #ff3b3f;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.5s ease-in-out;

        &:hover {
          transition: 0.5s ease-in-out;
          transform: scale(1.1);
          color: #fff;
          background-color: #ff3b3f;
        }
      }
    }
  }

  &__featured-products {
    margin-top: 40px;

    &__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
      padding: 10px;
      flex-wrap: wrap;
      justify-content: center;
      @media screen and (max-width: 750px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media screen and (max-width: 500px) {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    &__title {
      display: block;
      text-align: center;
      font-size: 1.5em;
      font-weight: bold;
      margin-bottom: 20px;
    }

    &__item {
      display: inline-block;
      width: 200px;
      margin: 10px;
      padding: 20px;
      background-color: #fff;
      border-radius: 10px;
      text-align: center;
      transition: transform 0.5s ease-in-out;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;

      &:hover {
        transform: scale(1.03);
        -webkit-animation: Pulse 5s infinite ease-in-out;
        -o-animation: Pulse 5s infinite ease-in-out;
        -ms-animation: Pulse 5s infinite ease-in-out;
        -moz-animation: Pulse 5s infinite ease-in-out;
        animation: Pulse 5s infinite ease-in-out;
      }

      &__image {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
      }

      &__title {
        display: flex;
        justify-content: center;
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: 10px;
        align-items: center;
        text-align: center;
        height: 45px;
      }

      &__price {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
      }

      &__button {
        padding: 10px 20px;
        background-color: #ff3b3f;
        color: #fff;
        font-weight: bold;
        border: 2px solid #fff;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.5s ease-in-out;

        &:hover {
          transition: 0.5s ease-in-out;
          transform: scale(1.1);
          color: #fff;
          background-color: #ff3b3f;
        }
      }
    }
  }
}

.home__reviews {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;

  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: 0.5s ease-in-out;
    @media screen and (max-width: 975px) {
      flex-direction: column;
    }
  }

  &__title {
    display: block;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    transition: 0.5s ease-in-out;

    &:hover {
      transform: scale(1.03);
    }

    &__title {
      font-size: 1.8em;
      margin-bottom: 10px;
    }

    &__description {
      margin-bottom: 10px;
    }

    &__bio {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 40px;

      &__author {
        font-weight: bold;

        &__image {
          width: 150px;
          height: 150px;
          border-radius: 50%;
          margin-right: 10px;
        }
      }
    }
  }
}
