@import './variables.scss';

.profile {

    &__header {
        color: $primary;
        text-decoration: none;
        transition: 0.6s ease-in-out;
        &:after {
          content: '';
          display: block;
          width: 100%;
          height: 2px;
          background-color: $primary;
        }
      }

  &__personal {
    position: relative;
    padding: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.6s ease-in-out;
    border: #fff 3px solid;
    background-image: url('./images/mountains.jpg');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 100% auto;

    &:hover {
      border: $primary 3px solid;
      border-radius: 10px;
      box-shadow: 0 0px 8px 5px rgba(0, 0, 0, 0.1);
    }

    .profile__button {
      position: absolute;
      top: 10px;
      right: 10px;
      display: flex;
      gap: 5px;
      padding: 5px 15px;
      cursor: pointer;
      border: 2px solid $primary;
      background: #fff;
      font-size: 16px;
      font-weight: 500;
      line-height: 150%;
      color: $primary;
      transition: 0.3s;
      border-radius: 5px;

      .img_edit {
        width: 25px;
        height: 25px;
        background-image: url('./svg/pen-svgrepo-com.svg');
        background-size: 26px 26px;
        background-repeat: no-repeat;
        background-position: center;
      }

      &:hover {
        background-color: $primary;
        color: #fff;

        .img_edit {
          background-image: url('./svg/pen-svgrepo-com-hover.svg');
        }
      }
    }
  }


  &__data {
    color: $text;
    font-size: 1.1em;
    font-style: italic;
  }

  &__info {
    margin: 10px;
    color: $primary;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    font-weight: 500;
    font-size: 1.3em;
  }
}
