$primary: #b88e2f;
$primary-light: #b88f2f50;
$secondary: #f9f1e7;
$text: #3a3a3a;
$light-text: #9f9f9f;
$light-red: rgb(255, 90, 90);
$teeth:
  rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
  rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
